// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=greek');
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    overflow-x: hidden;
}

.margin-row{
    margin-right: -15px;
    margin-left: -15px;
}

#page-content-wrapper {
    position: relative;
}

#collapseExample {
    position: absolute;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.table-tr:hover {
    cursor: pointer;
}

.status-level-0{
    background-color: #d3d3d3;
}
.status-level-1{
    background-color: #adbce6;
}
.status-level-2{
    background-color: #f0dc82;
}
.status-level-3{
    background-color: #ffbf00;
}
.status-level-4{
    background-color: #66ff00;
}

.priority-level-0{
    background-color: #d3d3d3;
}
.priority-level-1{
    background-color: #add8e6;
}
.priority-level-2{
    background-color: #ffbf00;
}
.priority-level-3{
    background-color: #ff6666;
}

.no-overflow {
    word-wrap: break-word
};

.project-tab {
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    color: black;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 1px solid !important;
    font-size: 16px;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 16px;
    font-weight: 300;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}

table.dataTable thead tr {
    border-top-width: 0px;
    background-color: #F8FAFC;
}
